body {
    background-image: url("../Resources/bridge.jpg");
    background-repeat: no-repeat;
    background-size: 100% 500px;
	background-color: #ccddff;
	font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
}

input[type=text] {
    width: 150px;
    height: 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

.center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}

.center1 {
    margin: auto;
    width: 60%;
    border: 3px solid #000000;
    padding: 5px;
    background-color: #ccddff;
    border: 3px solid #73AD21;
    padding: 5px;
	background-color: #FFFFFF;   
}

.rightlog {
    margin-right: 2%;
    width: 17%;
    height: 200px;
    border: 5px solid #73AD21;
    padding: 2px;
	background-color: #FFFFFF;
	float: right;
}

.center2 {  
    margin: auto;
    width: 60%;
    border: 3px solid #000000;
    padding: 5px;
    background-color: #ccddff;
    border: 3px solid #73AD21;
    padding: 5px;
	background-color: #FFFFFF;
    
}

* {box-sizing: border-box;}


.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
  width: 100%;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    font-size: 20px;
    text-align: center;    
    color: #fff;
    }


.loginbox {
    width: 320px;
    height: auto;
    
    background: #000;
    color: #fff;
    top: 100%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 40px; 20px;

}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
    font-size: 15px;
}

.loginbox input[type="text"], [type="email"], [type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent; 
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.loginbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
}

.loginbox input[type="submit"]:hover{
    cursor: pointer;
    background: #ffc107;
    color: #fff;
}

.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}

.space{
    padding: 400px;
}

.spaceForm{
    padding: 215px;
}

/*
Box used to place the map inside.
*/
 #map {
   left: 5%;
   width: 60%;
   height: 400px;
   background-color: gray;
   left: 20%;
   float:left;
   display:inline-block;
 }

/*
Places a box used to place a google map inside of different size.
*/
  #map_1 {
   width: 50%;
   height: 400px;
   background-color: gray;
   left: 20%;
   float:left;
   display:inline-block;
 }
/*
Rezizing and moving map to the left of the screen for the SearchResult2 page. 
*/ 
 #map_2 {
   width: 50%;
   height: 400px;
   background-color: grey;
   left: 5%;
   width: 60%;
   height: 400px;
   background-color: grey;
   left: 20%;
   float:left;
   display:inline-block;
 }

 /*
Styling for Header 2.
*/
h2{
    text-align: center;
    vertical-align: middle;
}
/*
Makes the name of wifi locations break to newline before to fit the better inside the box.
*/

h3{
    max-width: 95%;
    word-wrap:break-word;
    text-align: center;
    vertical-align: middle;
}
/*
Makes the box for reviews on the right side of the map.
*/
#contentH {
    padding: 5px;
    margin-top: 1px;
    margin-right: 10%;
    width: 450px;
    height: 400px;
    border:3px solid #73AD21;
    background-color: white;
	float: right;
    display:inline-block;
    overflow: hidden;
    align-content: center;
}
/*
Makes a box with white background around the content inside contentReview.
*/
#contentReview{
    width: 95%;
    height: 30%;
    margin: auto;
    text-align: center;
    border:5px solid black;
    white-space: pre-wrap;
    padding: 10px;
    background-color: white;
}

/*
Creates a fixed footer on the bottom of the screen.
*/
.footer {
    position: fixed;
    left: 0;
    bottom:0px;
	height: 35px;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}
/*
Positions the rating box under the review box 
and gives it a ligthblue background with black boarder. 
*/

#rating{
    margin-top: 30px;
    margin-left: 800px;
    width: 450px;
    height: 100px;
    border:3px solid #73AD21;
    background-color: white;
    float:right;
    margin-right: 10%;
    align-content: center;
}
/*
Positions the box with the name of the current wifi location above the map.
And gives it a ligthblue background with black boarder. 
*/
#namebox{
    width: 50%;
    padding-bottom: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 25%;
    height: 75px;
    border:3px solid #73AD21;
    background-color: white;
    align-content: center;
	
}

/* 
moves the Brisbane City Council logo to the top of the navigation bar.
*/
img{
    vertical-align: top;
}

/*
Styling for the table.
*/
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

/*
Styling for the table headers to align text along left hand side of box
*/
th {
    text-align: left;
	padding: 10px;
}

/*
Styling for the table cells to give padding 
*/
td {
    padding: 15px;
}

.Center2 td{
     width: 50%;
}

#contentTable {
    padding: 10px;
	margin: auto;
    border:1px solid black;
    background-color: white;
	width: 50%;
}
